Problem 1

In [1]:
import pandas as pd
msas = pd.read_csv("msas.csv")
msas.head()

    CBSA                         NAME  POPESTIMATE2017
0  10180                  Abilene, TX           170219
1  10420                    Akron, OH           703505
2  10500                   Albany, GA           151434
3  10540                   Albany, OR           125047
4  10580  Albany-Schenectady-Troy, NY           886188

In [2]:

geoid = "31000US" + msas["CBSA"].astype(str)

In [3]:
data1 = geoid[:len(geoid)//2]
data2 = geoid[len(geoid)//2:]
data1 = ','.join(data1)
data2 = ','.join(data2)

In [4]:
income = ['B19001']
incomestring = ','.join(income)

In [6]:
import requests, json
requesturl = 'http://api.censusreporter.org/1.0/data/show/latest?table_ids=%s&geo_ids=%s' % (incomestring, data1)
loadedjson = requests.get(requesturl)
parsedjson1 = json.loads(loadedjson.text)
requesturl = 'http://api.censusreporter.org/1.0/data/show/latest?table_ids=%s&geo_ids=%s' % (incomestring, data2)
loadedjson = requests.get(requesturl)
parsedjson2 = json.loads(loadedjson.text)

In [7]:
dfincome = pd.DataFrame(columns=['state id', 'population amount'], index=list(range(1,len(geoid))))

In [8]:
for i in list(range(1,len(geoid)//2)):
    dfincome['state id'][i]=[geoid[i]]
    dfincome['population amount'][i] = parsedjson1['data'][geoid[i]]['B19001']['estimate']['B19001011'] + parsedjson1['data'][geoid[i]]['B19001']['estimate']['B19001012'] 
for i in list(range(192,len(geoid))):
    dfincome['state id'][i]=[geoid[i]]
    dfincome['population amount'][i] = parsedjson2['data'][geoid[i]]['B19001']['estimate']['B19001011'] + parsedjson2['data'][geoid[i]]['B19001']['estimate']['B19001012']

In [9]:
dfincome.loc[dfincome['population amount'] == max(dfincome['population amount'])]

           state id population amount
249  [31000US35620]       1.03819e+06

In [10]:
msas.loc[msas['CBSA'] == 35620]

      CBSA                                   NAME  POPESTIMATE2017
249  35620  New York-Newark-Jersey City, NY-NJ-PA         20320876

The city has the highest count of the audience for parameter # 1 is ny

problem 2

In [11]:
age = ['B01001']
agestring = ','.join(age)

In [13]:
requesturl = 'http://api.censusreporter.org/1.0/data/show/latest?table_ids=%s&geo_ids=%s' % (agestring, data1)
loadedjson = requests.get(requesturl)
parsedjson1 = json.loads(loadedjson.text)
requesturl = 'http://api.censusreporter.org/1.0/data/show/latest?table_ids=%s&geo_ids=%s' % (agestring, data2)
loadedjson = requests.get(requesturl)
parsedjson2 = json.loads(loadedjson.text)

In [14]:
dataframeage = pd.DataFrame(columns=['state id', 'age amount'], index=list(range(1,len(geoid))))

In [17]:
for i in list(range(1,len(geoid)//2)):
    dataframeage['state id'][i]=[geoid[i]]
    dataframeage['age amount'][i] = parsedjson1['data'][geoid[i]]['B01001']['estimate']['B01001007'] + parsedjson1['data'][geoid[i]]['B01001']['estimate']['B01001008'] +parsedjson1['data'][geoid[i]]['B01001']['estimate']['B01001009']+parsedjson1['data'][geoid[i]]['B01001']['estimate']['B01001010']+parsedjson1['data'][geoid[i]]['B01001']['estimate']['B01001011']+parsedjson1['data'][geoid[i]]['B01001']['estimate']['B01001012']
    
for i in list(range(192,len(geoid))):
    dataframeage['state id'][i]=[geoid[i]]
    dataframeage['age amount'][i] = parsedjson2['data'][geoid[i]]['B01001']['estimate']['B01001007'] + parsedjson2['data'][geoid[i]]['B01001']['estimate']['B01001008'] +parsedjson2['data'][geoid[i]]['B01001']['estimate']['B01001009']+parsedjson2['data'][geoid[i]]['B01001']['estimate']['B01001010']+parsedjson2['data'][geoid[i]]['B01001']['estimate']['B01001011']+parsedjson2['data'][geoid[i]]['B01001']['estimate']['B01001012']

In [19]:
dataframeage.loc[dataframeage['age amount'] == max(dataframeage['age amount'])]

           state id   age amount
249  [31000US35620]  2.40159e+06

In [20]:
msas.loc[msas['CBSA'] == 35620]

      CBSA                                   NAME  POPESTIMATE2017
249  35620  New York-Newark-Jersey City, NY-NJ-PA         20320876

The city has the highest count of the audience for parameter # 2 is ny

problem # 3

In [21]:
hispanic = ['B03003']
hispanicstring = ','.join(hispanic)

In [22]:
requesturl = 'http://api.censusreporter.org/1.0/data/show/latest?table_ids=%s&geo_ids=%s' % (hispanicstring, data1)
loadedjson = requests.get(requesturl)
parsedjson1 = json.loads(loadedjson.text)
requesturl = 'http://api.censusreporter.org/1.0/data/show/latest?table_ids=%s&geo_ids=%s' % (hispanicstring, data2)
loadedjson = requests.get(requesturl)
parsedjson2 = json.loads(loadedjson.text)

In [23]:
dataframehispanic = pd.DataFrame(columns=['state id', 'hispanic amount'], index=list(range(1,len(geoid))))

In [24]:
for i in list(range(1,len(geoid)//2)):
    dataframehispanic['state id'][i]=[geoid[i]]
    dataframehispanic['hispanic amount'][i] = parsedjson1['data'][geoid[i]]['B03003']['estimate']['B03003003']
    
for i in list(range(192,len(geoid))):
    dataframehispanic['state id'][i]=[geoid[i]]
    dataframehispanic['hispanic amount'][i] = parsedjson2['data'][geoid[i]]['B03003']['estimate']['B03003003']

In [25]:
dataframehispanic.loc[dataframehispanic['hispanic amount'] == max(dataframehispanic['hispanic amount'])]

           state id hispanic amount
210  [31000US31080]     6.03149e+06

In [26]:
msas.loc[msas['CBSA'] ==31080]

      CBSA                                NAME  POPESTIMATE2017
210  31080  Los Angeles-Long Beach-Anaheim, CA         13353907

The city has the highest count of the audience for parameter # 3 is la

problem #4

In [27]:
temporaryincome = []
i = 1
while(i < 381):
    a = dfincome['population amount'][i]
    b = dfincome['population amount'][249]
    c = a/b
    d = '{:.2%}'.format(float(c))
   
    e = float(d.strip('%'))
    temporaryincome.append(e)
    i +=1

In [28]:
temporaryage = []
i = 1
while(i < 381):
    a = dataframeage['age amount'][i]
    b = dataframeage['age amount'][249]
    c = a/b
    d = '{:.2%}'.format(float(c))
   
    e = float(d.strip('%'))
    temporaryage.append(e)
    i +=1

In [29]:
temporaryhispainc = []
i = 1
while(i < 381):
    a = dataframehispanic['hispanic amount'][i]
    b = dataframehispanic['hispanic amount'][249]
    c = a/b
    d = '{:.2%}'.format(float(c))
   
    e = float(d.strip('%'))
    temporaryhispainc.append(e)
    i +=1

In [30]:
average = [(a+b+c)/3 for a,b,c in zip(temporaryincome,temporaryage,temporaryhispainc)]

average.insert(0, 0)

In [31]:
import numpy as np
dataframeaverage = pd.DataFrame(columns=['average'], index=list(range(1,len(average))))
for i in range(1,len(average)):
    dataframeaverage['average'][i]=[average[i]]
dataframeaverage.stack().index[np.argmax(dataframeaverage.values)]

(249, 'average')

In [32]:
msas.loc[249]

CBSA                                               35620
NAME               New York-Newark-Jersey City, NY-NJ-PA
POPESTIMATE2017                                 20320876
Name: 249, dtype: object

The city has the highest mean percentage across all three categories is ny